<div class="breadcrumb">
  <ul>
    <li class="before-page"><%= link_to 'トップ', root_path %></li>
    <li class="before-page"><%= link_to "#{current_artist.nickname}さんのマイページ", mypage_path %></li>
    <li>イベント情報</li>
  </ul>
</div>
<h2>イベント一覧</h2>
<div class="new-event">
  <%= link_to new_mypage_event_path do %>
    <div class="create-event-button"><i class="fas fa-edit"></i>新規イベント作成</div>
  <% end %>
</div>
<% unless @events.present? %>
  まだイベントが作成されていません。
<% else %>
  <ul class="item-list">
    <%= render partial: 'common/settings/event_cards', locals: { events: @events } %>
  </ul>
<% end %>
