
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

html, body {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: 'Noto Sans JP', sans-serif;
  color: #1b2a96;
}
body {
  margin-right: auto;
  margin-left : auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

h2 {
  padding: 0.25em 0.5em;
  border-left: solid 5px #7db4e6;
  font-size: 1.4em;
}

li {
  list-style: none;
}

table {
  width: 100%;
}
tr {
  height: 4em;
}
th {
  background: #DDD;
  width: 40%;
  max-width: 250px;
}

td {
  background: #c9e2f7;
}

header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1000;
  background: #ebf397;
  list-style: none;
  overflow: hidden;

  ul {
    padding-inline-start: 0;
    margin-block-start: 1rem;
  }
  li {
    width: 140px;
    list-style: none;
    text-align: center;
    float: left;
  }
  li a {
    text-decoration: none;
    color: #1650dc;
    font-weight: bold;
  }
  img.current_artist_icon {
    background: #FFF;
    margin-top: -10px;
    width: 40px;
    border-radius: 1em;
  }
  .header-left {
    position: fixed;
  }
  .header-right {
    float: right;
  }
}
contents {
  padding: 50px 0 0 0;
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;

  .sidebar {
    color: #EEE;
    width: 30%;
    max-width: 300px;
    background: rgb(100, 100, 100);
    padding: 10px;

    .profile {
      padding: 5px;
      display: flex;

      .thumbnail {
        width: 30%;
        padding: 0.3rem;
        img {
          background: #FFF;
          width: 100%;
          border-radius: 10px;
        }
      }
      .description {
        padding: 1rem 0.3rem;

        .nickname {
          font-size: 1.1rem;
        }
        .name {
          font-size: 0.7rem;
        }
        ul {
          padding-inline-start: 0;
          margin-block-start: 0.3rem;
        }
        li {
          list-style: none;
          text-align: center;
          float: left;
          font-size: 0.4rem;
          padding-right: 5px;
        }
      }
    }

    .sidebar_menu {
      padding-inline-start: 0.5rem;

      a {
        color: #EEE;
      }

      li {
        padding: 0.9rem 0;
        padding-left: 0.5rem;
        display: flex;
        .icon {
          width: 18%;
          text-align: center;
        }
        i {
          margin-right: 0.5rem;
          font-size: 1.3rem;
        }
      }

      li:hover {
        // background: #c9e2f7;
        background: #888;
        transition: all 0.2s;
        transform: scale(1.15, 1.15);
        border-radius: 0.8rem;
        box-shadow: 0.5rem 0.5rem 0.5rem #222;
      }
    }
  }

  .main {
    display: block;
    min-width: 750px;
    width: 100%;
    height: auto;
    padding: 10px;

    ul.item-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .item-card {
      max-width: 20em;
      text-align: center;
      border: 2px solid #90b6d6;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 5px;

      background: #FFF;
      box-shadow: 0 2px 6px #1000ff;
      margin: 0.8em;

      .thumbnail {
        width: 100%;
        max-width: 306px;
        max-height: 160px;
      }
    }

    ul.artist-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    .artist-card {
      width: 7em;
      text-align: center;
      border-radius: 20px;
      box-sizing: border-box;
      padding: 5px;

      background: #FFF;
      margin: 0.8em;

      .thumbnail {
        width: 100%;
        border-radius: 10em;
        box-shadow: 0 2px 5px #1000ff;
      }
      .title {
        font-size: 0.8em;
      }
    }
  }
}
footer {
  height: 30px;
  padding: 5px 10px 20px 10px;
  background: #ebf397;
}


.breadcrumb {
  ul {
    display: flex;
    font-size: 0.7em;
    padding-inline-start: 0;

    li {
      margin-right: 1.1em;
    }

    .before-page::after {
      content: "　>";
    }
  }
}
