// Place all the styles related to the live controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.live-contents {
  position: relative;

  .live-thumbnail {
    text-align: center;
    padding: 1em;
    img {
      border-radius: 20px;
      width: 90%;
      max-width: 1010px;
      max-height: 540px;
      box-shadow: 0 2px 5px #1000ff;
    }
  }

  .artist-list {
    position: absolute;
    top: 0.5em;
    left: 1.8em;

    .artist-card {
      width: 5em;
      background: none;

      .thumbnail {
        background: #FFF;
        width: 70px;
        height: 70px;
      }
      .title {
        width: 100%;
        background: #FFF;
        border-radius: 10px;
        font-size: 0.5em;
      }
    }
  }
}

.product-sales {
  .item-list {
    .item-card {
      .description {
        position: relative;

        .artist-list {
          position: absolute;
          top: 0.3em;
          left: -2em;
          margin-right: auto;

          .artist-card {
            width: 3em;
            background: none;
            margin: 0;

            .thumbnail {
              width: 100%;
              background: #FFF;
            }
          }
        }
      }
      .title {
        font-size: 1.1em;
      }
      .price {
        font-size: 1.1em;
      }
    }
  }
}

.new-live {
  margin: 1rem;

  .create-live-button {
    width: 100%;
    max-width: 300px;
    padding: 1.5rem;
    background: #4b2cff;
    color: #FFF;
    text-align: center;
    border-radius: 3rem;
    box-shadow: 10px 10px 21px -10px rgba(0,0,0,0.6);

    i {
      font-size: 1.1rem;
      padding-right: 0.5rem;
    }
  }
  .create-live-button:hover {
    transition: all 0.2s;
    background: #6c53ff;
  }
}
