// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.mypage-profile {
  .tab_item {
    width: calc(100%/5);
  }
}

.sns_account_list {
  min-height: 10em;
  tr {
    height: 2.5em;
  }
}
