<div class="header-left">
  <ul>
    <li><%= link_to "トップページ", :root %></li>
  </ul>
</div>
<% # ログインしているのが一般ユーザーだった場合 %>
<% if current_user.present? %>
<div class="header-right">
  <ul>
    <li>
      ポイント購入
    </li>
    <li>
      <i class="fas fa-coins"></i> 1,580
    </li>
  </ul>
</div>
<% # ログインしているのがアーティストだった場合 %>
<% elsif current_artist.present? %>

<% # 誰もログインしていない場合 %>
<% else %>
<div class="header-right">
  <ul>
    <li>
      <%= link_to "新規登録", new_user_registration_path %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path %>
    </li>
  </ul>
</div>
<% end %>
