<!DOCTYPE html>
<html>
  <head>
    <title>Haraherhythm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      header
    </header>
    <contents>
      <div class="sidebar">
        sidebar menu
      </div>
      <div class="main">
        <%= yield %>
      </div>
    </contents>
    <footer>
      footer
    </footer>
  </body>
</html>
